.low-section__accordion-button {
    width: 100%;
    text-align: left;
    padding: 14px 20px 14px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: inherit;
    border: none;
    color: $sand;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}