.content {
    margin: 0 45px;
}

@media screen and (max-width: 426px) {
  .content {
      width: 400px;
      margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .content {
      width: 300px;
      margin: 0 auto;
    }
}