.low-section__prise-wrapper {
   max-width: 255px;
   background-color: $small-box-color;
   border-radius: 5px;
   width: 255px;
   height: 90px;
   padding: 14px 130px 20px 16px;
   box-sizing: border-box;
}