.top-section__image-wrapper {
    width: 540px;
    height: 319px;
    position: relative;
}

@media screen and (max-width: 426px) {
    .top-section__image-wrapper {
        width: 400px;
        height: 219px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 321px) {
    .top-section__image-wrapper {
        width: 280px;
        height: 119px;
        margin-top: 20px;
    }
}